@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #eee;
  width: 100%;
  background-color: #222;
  padding: 20px;
}

.overlay{
  position: absolute;
  display: none;
  top: -900px;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: #eee;
  color:#222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.overlay button{
  border: 4px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

button {
  background-color: #eee;
  display: flex;
  border: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

button:active {
  transform: scale(0.9); 
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  margin-bottom: 20px;
}

.displayAns h1{
  font-size: 50px;
  padding: 30px;
  background-color: #eee;
  color: #222;
}

.footer{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.secondDisplay input{
  color: #eee;
  background: none;
  outline: none;
  border: 4px solid #eee;
  text-align: center;
  width: 200px;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.secondDisplay input::placeholder{
color: #eee;
}

.right .message{
  font-size: 20px;
  margin-bottom: 20px;
}

.score h3{
  font-size: 20px;
  margin: 20px 0px;
}

@media screen and (max-width: 620px) {
  .header{
    margin-bottom: 10px;
  }
  .footer{
    flex-direction: column;
  }

  .right{
    text-align: center;
  }

  .displayAns{
    padding: 15px;
  }

  .right h3{
    font-size: 12px;
  }

  .header button{
    font-size: 15px;
    padding: 20px 10px
  }

  .header h4{
    font-size: 12px;
  }

  .left{
    margin-bottom: 20px;
  }

  .left button{
    font-size: 15px;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 450px) {
  .header button{
    font-size: 12px;
    padding: 15px 5px
  }

  .header h4{
    font-size: 9px;
  }
}